$primary-50: hsl(14, 80%, 90%);
$primary-500: hsl(14, 84%, 54%);

$neutral-50: hsl(14, 80%, 90%);
$neutral-500: hsl(14, 15%, 50%);
$neutral-900: hsl(14, 87%, 3%);

$green-500: hsl(76, 83%, 46%);

$blue-500: hsl(189, 83%, 46%);

$red-500: hsl(0, 83%, 46%);
$red-50: hsl(0, 83%, 90%);
