.pry-btn,
.sec-btn {
  width: 15.625rem;
  height: 2.5rem;

  font-size: 1.25rem;
  font-family: var(--heading);

  transition: all 0.5s ease;
}
/* The Primary Button */
.pry-btn {
  color: var(--black);
  background-color: var(--primary);

  border: 2px dotted transparent;
}

.pry-btn:hover {
  color: var(--primary);
  background-color: var(--primary-100);
}

.pry-btn:focus-visible,
.pry-btn:focus {
  border-color: var(--primary);
}

/* The Secondary Button */
.sec-btn {
  color: var(--primary);
  background-color: transparent;

  border: 2px solid currentColor;
}

.sec-btn:hover {
  color: var(--primary);
  background-color: var(--primary-100);
}

.sec-btn:focus-visible,
.sec-btn:focus {
  border-color: var(--primary);
}
